<!DOCTYPE html>
<!--[if IE 6]><html lang="ko" class="no-js old ie6"><![endif]-->
<!--[if IE 7]><html lang="ko" class="no-js old ie7"><![endif]-->
<!--[if IE 8]><html lang="ko" class="no-js old ie8"><![endif]-->
<!--[if IE 9]><html lang="ko" class="no-js modern ie9"><![endif]-->
<!--[if !IE]><!--><html lang="ko" class="no-js modern"><!--<![endif]-->
<head>
<meta charset="utf-8" />
<title>Diotek Dictionary Team.</title>
<link rel="stylesheet" href="/static/css/lavalamp.css" />
<link rel="stylesheet" href="/static/css/demos.css" />
<link rel="stylesheet" href="/static/css/jquery-ui-1.8.5.custom.css" />
<script src="/static/js/modernizr.min.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui-1.8.9.custom.min.js"></script>
<script src="/static/js/lavalamp.js"></script>
<script src="/static/js/jquery.mousewheel.min.js"></script>
<script src="/static/js/sylvester.js"></script>
<script src="/static/js/transformie.js"></script>
<script src="/static/js/ui.coverflow.js"></script>
<script src="/static/js/app.js"></script>
</head>

<body>
<div id="header">
    <h1>Diotek Dictionary Team.</h1>
    <nav id="navigation">
        <ul class="clearfix">
            <li class="focus"><a href="home.html">Home</a></li>
            {% if username %}
            <li><a href="/logout">Logout ({{ username }})</a></li>
            {% else %}
            <li><a href="/loginscreen.html">Login</a></li>
            {% endif %}
            {% if username %}
            <li><a href="/members">Members</a></li>
            {% endif %}
            {% if username %}
            <li><a href="/event">Event</a></li>
            {% endif %}
            <li><a href="/dictionaries.html">Dictionary</a></li>
            <li><a href="/contact.html">Contact</a></li>
        </ul>
    </nav>
</div>

<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
