{% extends "_base.html" %}
{% block content %}
<div class="pagewrapper">
    <h1>diotek dictionaries</h1>
    <div class="demo">
        <div class="wrapper">
            <div id="coverflow">
                <img src="/static/images/diodict3_chnkor.png" />
                <img src="/static/images/diodict3_collins_engeng.png" />
                <img src="/static/images/diodict3_hanja.png" />
                <img src="/static/images/diodict3_japkor.png" />
                <img src="/static/images/diodict3_kor.png" />
                <img src="/static/images/diodict4_engkor.png" />
                <img src="/static/images/diodict3_kor2.png" />
                <img src="/static/images/diodict3_oxford_engeng.png" />
                <img src="/static/images/diodict3_oxford_engkor.png" />
                <img src="/static/images/diodict3_vitkor.png" />
            </div>
        </div>

        <div id='slider'></div>
    </div>

    <div class="listholder">
        <div id="scroll-pane">
            <ul id="sortable"> 
            </ul>
        </div>
        <div id="slider-wrap">
            <div id="slider-vertical"></div>
        </div>
    </div>
</div>
{% endblock %}
